.view-action-link{
    display: flex;
    justify-content: space-around;
    /* width: 60%; */
}

.view-action-link div a.link-item-view{
    color:  #218838;
}

.view-action-link div a.link-item-edit{
    color:  #e0a800;
}

.view-action-link div a.link-item-delete{
  color: #c82333;
}

.div-boutton-add{
    padding: 15px;
}

input[type="search"]{
}



@media (min-width: 768px){
    .view-action-link{
        width: 60%;
        margin: auto;
        
    }

}