#contact div {
    margin-left: 0;
    margin-right: 0;
  }
  .section-titre {
    padding: 20px;
    text-align: left;
    background-color: #446CB3;
    margin-bottom: 20px;
  }
  .section-titre span {
    font-size: 32px;
    font-family: Georgia,"Lucida Sans",serif;
    font-style: italic;
  }
  #section-menu-contact {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
  }
  .transform-field-textarea, .transform-field {
    position: relative;
    margin-top: 40px;
    font-family: Georgia,"Lucida Sans",serif;
    font-style: italic;
    float: left;
    width: 100%;
  }
  .transform-field {
    height: 40px;
  }
  label {
    font-size: 20px;
    font-weight: 100;
    position: absolute;
    height: 100px;
    max-width: 300px;
    left: 18px;
    color: #446CB3;
    z-index: -1;
    font-family: Georgia,"Lucida Sans",serif;
    font-style: italic;
    transition-duration: 0.2s;
    transition-property: transform;
  }
  textarea, input {
    position: relative;
    float: left;
    border: none;
    border-bottom: 2px solid #446CB3;
    color: #446CB3;
    background: transparent;
    outline: none;
    height: 150px;
    font-family: Georgia,"Lucida Sans",serif;
    font-style: italic;
    width: 60%;
    margin-left: 15px;
    transition-property: transform;
    font-size: 26px;
  }
  input {
    height: 35px;
  }
  input:focus + label {
    transform: translateY(-40px) translateX(-10px) scale(0.7);
  }
  #section-menu-contact input[type="submit"]{
    position: relative;
    width: 60%;
    border: 2px solid;
    border-color: #446CB3;
    color: #446CB3;
    background-color: rgba(255,255,255,0.3);
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    height: 50px;
  }
  #section-menu-contact input[type="submit"]:hover {
    background-color: #446CB3;  
    color: rgba(255,255,255,0.9);
    transition: background-color 0.4s ease-in;
  }
  
  #field-name {
      margin-top: 20px;
  }
  #form_contact {
      margin-bottom:50px;
  }
  #contact {
      min-height: 200px;
  }
  #field-submit{
      position: relative;
      width: 100%;
  }
  #field-submit input{ 
      margin-top: 38px;
      margin-bottom: 50px;
  }
  textarea:focus + label, input:valid + label {
    transform: translateY(-40px) translateX(-10px) scale(0.7);
  }