    <div class="row">
            <div class="col-sm-2 hidden-xs hidden-sm"><img class="img-responsive" src="/Web/assets/user-style/images/logomain.png" /></div>
                <div class="col-sm-10 hidden-xs hidden-sm">
                    <div class="col-sm-12 hidden-xs hidden-sm head">ST MICHAEL'S SR. SEC. SCHOOL, GURGAON</div>
                    <div class="col-sm-12 hidden-xs hidden-sm line"></div>
                    <div class="col-sm-12 hidden-xs hidden-sm subhead">Established in 1955</div>
                </div>         
        
            <nav id="menu">
                <ul>
                    <li><a class="movecloseright">10006 </a></li>
                    <li><a href="home.html"><b><span class="glyphicon glyphicon-home"></span></b>HOME</a></li>
                    <li><a href="about.html"><b><span class="glyphicon glyphicon-user"></span></b>ABOUT </a></li>
                    <li><a href="news.html"><b><span class="glyphicon glyphicon-list-alt"></span></b>NEWS  EVENTS </a></li>
                    <li><a href="/about"><b><span class="glyphicon glyphicon-folder-open"></span></b>CIRRICULUM</a></li>
                    <li><a href="/about"><b><span class="glyphicon glyphicon-file"></span></b>BLOG</a></li>
                    <li><a href="/about"><b><span class="glyphicon glyphicon-download"></span></b>DOWNLOADS</a></li>
                    <li><a href="#footer"><b><span class="glyphicon glyphicon-phone-alt"></span></b>CONTACT</a></li>
                    <li><a href="/contact"><b><span class="glyphicon glyphicon-globe"></span></b>CONNECT</a></li>
                    <li><a href="home.html"><b><span class="glyphicon glyphicon-remove-circle"></span></b>CLOSE</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="nav-bar" class="container-fluid hidden-xs hidden-sm">
        <div class="row">
            <div class="col-sm-12 hidden-xs hidden-sm">
                    <div class=" col-md-offset-4 col-lg-offset-5 col-md-1 col-lg-1 hidden-xs hidden-sm"><a href="about.html">ABOUT<span class="underline"></span></a></div>
                    <div class=" col-md-1 col-lg-1 hidden-xs hidden-sm"><a href="about.html">NEWS<span class="underline"></span></a></div>
                    <div class=" col-md-2 col-lg-1 hidden-xs hidden-sm"><a href="about.html">PRINCIPAL<span class="underline"></span></a></div>
                    <div class=" col-md-1 col-lg-1 hidden-xs hidden-sm"><a href="">GALLERY<span class="underline"></span></a></div>
                    <div class=" col-md-2 col-lg-1 hidden-xs hidden-sm"><a href="">DOWNLOADS<span class="underline"></span></a></div>
                    <div class=" col-md-1 col-lg-1 hidden-xs hidden-sm"><a href="">CONTACT<span class="underline"></span></a></div>
                </div>  <!--Navigation Bar for large screens-->
            </div>
        </div>
    <div id="fix-top-mobile" class="container hidden-sm hidden-md hidden-lg hidden-xl Fixed">
        <div class="row">
            <div class="col-xs-10 hidden-sm hidden-md hidden-lg hidden-xl">MENU </div>
            <div class="col-xs-2  hidden-sm hidden-md hidden-lg hidden-xl"> <a href="#menu">9776</a></div>
        </div>
    </div>

    <div id="fix-top" class="container Fixed">
            <div class="row">
                <div class="col-sm-8 hidden-xs"> . MICHAEL'S SR. SEC. SCHOOL</div>
                <div class="col-sm-4 hidden-xs"> <a href="#menu" ><i class="fa fa-align-right"></i></a></div>
            </div>
    </div>


    <div id="welcome" class="container-fluid">
    <div class="row">
        <div class="col-md-12 hidden-sm hidden-xs">
            <section id="news-demo">
                <article>
                    <div class="text-content">
                    <h2>News  Events<span class="underline"></span></h2>
                    <ul>
                    <li><div class="glyphicon glyphicon-link col-sm-1"></div><div class="col-sm-11">Schools to reopen from 3rd January 2016</div></li>
                    <li><div class="glyphicon glyphicon-link col-sm-1"></div><div class="col-sm-11">Download Datesheet of preboards for class 12th</div></li>
                    <li><div class="glyphicon glyphicon-link col-sm-1"></div><div class="col-sm-11">Chart Competetion to be held in 1st week of Feburary</div></li>
                    <li><div class="glyphicon glyphicon-link col-sm-1"></div><div class="col-sm-11">Football tournament to start from 3rd of Feburary</div></li>
                    <li><div class="glyphicon glyphicon-link col-sm-1"></div><div class="col-sm-11">Class 9th admission open</div></li>
                    <li><div class="glyphicon glyphicon-link col-sm-1"></div><div class="col-sm-11">Download calender</div></li>
                    </ul>

                    </div>
                    <div class="image-content"><img src="/Web/assets/user-style/images/welcome2.png" alt="demo1_1" /></div>
                </article>
            </section>
        </div>

        <!--Landscape Welcome Image  Message-->                       
        <div class="col-xs-12  hidden-lg  hidden-md hidden-xl">
                <div class="parallax-window" data-parallax="scroll" data-image-src="/Web/assets/user-style/images/wall7.jpg">
                    <div class="col-xs-12">
                        <div class="col-xs-9"><br /><br /></div>
                        <div class="col-xs-3"><br /><br /><a href="#menu"><i class="fa fa-align-right"></i></a></div>
                        <div class="col-xs-12"><br /><br /><br /><br /><a>ST. MICHAEL'S SR. SEC. SCHOOL<br /><br />Established in 1955<br /><br /></a></div>
                    </div>
                </div>
            
        </div>
    </div>
    </div>	

    <div id="description" class="container">
        <div class="row">
            <div class="col-sm-12">   
                <div class="col-md-12 title hidden-sm hidden-xs"><a href="about.html">ABOUT US<span class="underline"></span></a>
                </div>
                <div class="col-xs-12 title  hidden-md hidden-lg "><a href="about.html">ABOUT US<span class="underline"></span></a>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 hidden-sm hidden-xs content">
                    St. Michael’s Senior Secondary School, Gurgaon, Haryana, is an English Medium School for boys and girls, owned, managed and run by the Delhi Catholic Archdiocese, a religious, educational, social and charitable organization, registered under the Societies Registration Act XXI of 1860 No. S-512 of 1951-52.
                                It is an unaided Christian minority School, open to children of all communities with a special responsibility for theeducation of Christians. This school is recognized by the Directorate of Education, Haryana State and affiliated to the Central Board of Secondary Education ( Affiliation No. 530210 and School Code No. 4231).<br />The aim of this School is to provide an all round formation of students and to impart sound education by inculcating healthy study habits, discipline, self-reliance and moral values . . . . . .<br /><br /><a href="#!" class="projectbutton">Read More</a><br />
                </div>
                <div class="col-xs-12 hidden-md hidden-lg hidden-xl content">
                    St. Michael’s Senior Secondary School, Gurgaon, Haryana, is an English Medium School for boys and girls, owned, managed and run by the Delhi Catholic Archdiocese, a religious, educational, social and charitable organization, registered under the Societies Registration Act XXI of 1860 No. S-512 of 1951-52.<br /><br /><a href="about.html" class="projectbutton">Read More</a><br />
                </div>
            </div>  
        </div>
    </div>

    <div id="news" class="container">
    <div class="row">
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="col-xs-12 title hidden-md hidden-lg"><a href="">NEWS  EVENTS<span class="underline"></span></a></div>
            <div class="col-xs-12  hidden-md hidden-lg content">
            <div class="col-xs-12  hidden-md hidden-lg"><a href=""><span class="glyphicon glyphicon-link"></span>nbsp nbsp Schools to reopen from 3rd January 2016</a></div>
            <div class="col-xs-12 hidden-md hidden-lg"><a href=""><span class="glyphicon glyphicon-link"></span>nbsp nbsp Download Datesheet of preboards for class 12th</a></div>
            <div class="col-xs-12 hidden-md hidden-lg"><a href=""><span class="glyphicon glyphicon-link"></span>nbsp nbsp Chart Competetion to be held in 1st week of Feburary</a></div>
            <div class="col-xs-12 hidden-md hidden-lg"><a href=""><span class="glyphicon glyphicon-link"></span>nbsp nbsp Football tournament to start from 3rd of Feburary</a></div>
            <div class="col-xs-12 hidden-md hidden-lg"><a href=""><span class="glyphicon glyphicon-link"></span>nbsp nbsp Class 9th admission open</a></div>
            </div>
        </div>
    </div>
    </div>

    <div id="gallery" class="container-fluid">
    <div class="row">
    <div class="col-sm-12 title"><a href="">GALLERY<span class="underline"></span></a></div>
        <div class="col-sm-12">
            <section class="shop">
                <h2 class="restricted-width"><br /></h2>
                <section id="shop-demo">
                        <article title="">
                            <div class="image-content"><img src="/Web/assets/user-style/images/ten2.jpg" alt="demo1_2" class="product-image" /></div>
                            <div class="product-info">
                                <p>Children Studying together peacefully at School's Library.</p>
                                <a href="#!" class="button-link more-info">View Album</a><!--<a href="#!" class="button-link buy-now">Buy now</a>-->
                            </div>
                        </article>
                        <article title="">
                            <div class="image-content"><img src="/Web/assets/user-style/images/twelve2.jpg" alt="demo1_2" class="product-image" /></div>
                            <div class="product-info">
                                <p>Our principal addressing students on the eve of St. Michael's Day.</p>
                                <a href="#!" class="button-link more-info">View Album</a><!--<a href="#!" class="button-link buy-now">Buy now</a>-->
                            </div>
                        </article>
                        <article title="">
                            <div class="image-content"><img src="/Web/assets/user-style/images/thirteen2.jpg" alt="demo1_2" class="product-image" /></div>
                            <div class="product-info">
                                <p>Huge gathering on the Annual sports day.</p>
                                <a href="#!" class="button-link more-info">View Album</a><!--<a href="#!" class="button-link buy-now">Buy now</a>-->
                            </div>
                        </article>
                        <article title="">
                            <div class="image-content"><img src="/Web/assets/user-style/images/ten2.jpg" alt="demo1_2" class="product-image" /></div>
                            <div class="product-info">
                                <p>Children Studying together peacefully at School's Library.</p>
                                <a href="#!" class="button-link more-info">View Album</a><!--<a href="#!" class="button-link buy-now">Buy now</a>-->
                            </div>
                        </article>
                </section>
                <h2 class="product-name"></h2>
            </section>
        </div>                      
    </div>
    </div>

    <div id="principal" class="container-fluid">
    <div class="row">
    <div class="col-sm-12 hidden-xs title"><a href="principal.html">PRINCIPAL'S DESK<span class="underline"></span></a></div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg title"><a href="">PRINCIPAL'S DESK<span class="underline"></span></a></div>
    <div class="col-sm-12">
        <div class="col-sm-12 col-xs-12 col-md-3 col-lg-2"><img  src="/Web/assets/user-style/images/sister.jpg" class="img-responsive img-thumbnail" /></div>
            <div class="col-sm-12 col-xs-12 col-md-9 col-lg-10 content">Dear Friends<br /> Greetings to all<br /> Welcome to St.Michael’s school, Gurgaon, Haryana. I am happy to accompany you in the Educational Journey through the various departments, activities, scholastic and non scholastic life of our children who are entrusted to us by the parents. Our methodology of education is not to produce little academic monsters, dehumanized, nor is it to produce pious faithful, allergic to the world they live in, incapable of responding to it sympathetically. . . .<br /><a href="principal.html" class="projectbutton">Read More</a>
        </div>
    </div>
    </div>
    </div>


    <div id="footer">
    <div  class="container">
        <div class="row">
            <div class="col-sm-4 ">
                <div class="col-sm-12 first">nbsp DOWNLOADS</div>
                <div class=" col-sm-12">
                    <div class="col-sm-12"><a href="">Prospectus</a></div>
                    <div class="col-sm-12"><a href="">Management</a></div>
                    <div class="col-sm-12"><a href="">Departments</a></div>
                    <div class="col-sm-12"><a href="">Admission form</a></div>
                    <div class="col-sm-12"><a href="">Assignment Downloads</a></div>
                    <div class="col-sm-12"><a href="">Magazine</a></div>
                </div>
            </div>
            <div class="col-sm-5 ">
                <div class="col-sm-12 first">nbsp CONTACT</div>
                <div class=" col-sm-12">
                <div class="col-sm-12"><a href=""><i class="fa fa-map-marker" aria-hidden="true"></i> nbsp Shivpuri, Gurgaon 122001 ,India</a></div>
                <div class="col-sm-12"><a href=""><i class="fa fa-phone" aria-hidden="true"></i> nbsp +91-124-4241114</a></div>
                <div class="col-sm-12"><a href=""><i class="fa fa-envelope" aria-hidden="true"></i> nbsp st_michael_schoolgr@yahoo.in </a></div>
            </div>
            </div>
            <div class="col-sm-3 ">
                <div class="col-sm-12 first">nbsp CONNECT</div>
                <div class=" col-sm-12">
                    <div class="col-sm-12"><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> nbsp Facebook</a></div>
                    <div class="col-sm-12"><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i> nbsp Youtube </a></div>
                    <div class="col-sm-12"><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> nbsp Twitter </a></div>
                    <div class="col-sm-12"><a href=""><span><i class="fa fa-google-plus" aria-hidden="true"></i></span> nbsp Google+ </a></div>
            </div>
        </div>
        <div class="col-sm-12 first third">Copyright #169 All rights reserved</div>
    </div>
    </div>